<!--<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">-->
<div class="modal justify-content-center" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="w-75 h-75">
    <div class="modal-body">
      <br>
      <div class="d-flex align-items-center justify-content-center">

        <div  class="modal-content ">
          <div class="d-flex align-items-center py-3 mx-3">
            <div class="modal-header-text"><h2>DETALJI TRANSAKCIJE</h2></div>
            <button type="button" class="dugme" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()">x</button>
          </div>
          <hr>


          <div class="modal-body py-3 px-4  ">
            <div class="myp-text mb-3">
              <h3> Detalji</h3>

            </div>
            <div class="border-round">
              <div class="container d-flex flex-column ">
                <hr class="line">

                <div class="d-flex flex-row justify-content-between">
                  <div class="myp-text mb-3"> SA RACUNA:</div>
                  <div>827653727</div>
                </div>

                <hr class="line">

                <div class="d-flex flex-row justify-content-between">
                  <div class="myp-text mb-3"> NA RACUN:</div>
                  <div>867375234 </div>
                </div>

                <hr class="line">

                <div class="d-flex flex-row justify-content-between">
                  <div class="myp-text mb-3"> VALUTA:</div>
                  <div>EUR</div>
                </div>

                <hr class="line">

                <div class="d-flex flex-row justify-content-between">
                  <div class="myp-text mb-3"> IZNOS U RSD:</div>
                  <div>5.993,56 RSD </div>
                </div>

                <hr class="line">

                <div class="d-flex flex-row justify-content-between">
                  <div class="myp-text mb-3"> IZNOS U STRANOJ VALUTI:</div>
                  <div>51,00 EUR </div>
                </div>

                <hr class="line">

                <div class="d-flex flex-row justify-content-between">
                  <div class="myp-text mb-3"> KURS(RSD):</div>
                  <div>118,97 </div>
                </div>
              </div>
            </div>



          </div>



          <div class="  d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary rounded-pill w-25 my-2" (click)="cancel()">Potvrdi</button>
          </div>
          <div class="  d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-outline-primary rounded-pill w-25 my-2" (click)="cancel()">Odustani</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
