form {
  padding: 4em;
  padding-bottom: 2em;
  border: solid 2px;
  border-color: var(--si-blue);
  border-radius: 50px;
}

.myp-text {
  color: var(--si-blue);
}

h6.error {
  color: var(--si-red);
}

.row{
  margin-bottom: 10px;
}

.sifra-div{
  text-decoration: underline;
}

.sifra-div:hover{
  cursor: pointer;
}

input:disabled{
  background: #dadada;
}


.inline {
  display: inline-block;

  border-color: var(--si-blue);
  border-radius: 10px;
  margin: 10px 20px;
  width: 120px;
  font-size: 16px;

}


.inline-selected {
  display: inline-block;
  border: solid 3px;
  border-color: var(--si-blue);
  border-radius: 10px;
  margin: 10px 10px;
  width: 100px;
  font-size: 16px;

}

.input-field  {
  display: inline-block;
  border: solid 3px;
  border-color: var(--si-blue);
  border-radius: 20px;
  width: 205px;
  font-size: 16px;

}

.button {
  display: inline-block;
  border: solid 3px;
  border-color: var(--si-blue);
  color: white;
  background-color: blue;
  border-radius: 20px;
  width: 205px;
}

.black {
  color:black;

}
